#divVista{
    width: 180px;
    height: 20px;
    float: left;
}
#divVista1{
    width: 180px;
    height: 20px;
    float: left;
    font-weight:bold;
}
#divVista2{
    width: 180px;
    height: 20px;
    float: left;
}
#divVista4{
    width: 180px;
    height: 20px;
    float: left;
    font-weight:bold;
}
#divVista5{
    width: 80px;
    height: 50px;
    float: left;
}
#Lista{
    background: seagreen;
    width: 97%;
    height: 550px;
    padding: 15px;
    border:solid 3px black;
    display:block;
    position: relative;
}
body{
    background-image:url(../img/home.jpg);
    background-position: center;
    
}
  p{font-family: monospace;
  text-align: center;
  font-size: 50px;
  border: 5px solid #00ccff;
  padding: 5px; 
  background:  #ffffff;
  
}
img{
    width:150px;
    width:150px;
    background: #ffffff;
    padding: 10px;
    border: 10px solid  #00ccff;
    
}
div#general{
    margin: auto;
    width: 30%;
    height: 250px;
    background-color: #ffffff; 
    padding: 25px;
    border: 5px solid  #00ccff;
}

h1{
    text-align: center; 
    margin-bottom: 20px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   input{
       display: block;
       padding: 8px;
       width: 100%;
       margin: 20px 0;
       font-size: 20px;
   }
   
   input[type="submit"]{
       background: linear-gradient ( #6666ff, blue);
       border:  0;
       color: #0033cc;
       opacity: 0.8;
       cursor: pointer;
       border-radius: 20px;
       margin-bottom: 0;
   }
   input[type="submit"]:hover{
       opacity: 2;  
   }
   
   *{
       padding: 0px;
       margin: opx;
   }
   
   #menu{
       margin: auto;
       width: 500px;
       font-family: Arial, Helvetica, sans-serif;   
   }
 
   ul, ol{
       list-style: none;
   }
   
   .nav li a{
       background-color: #00ccff;
       color: #ffffff;
       text-decoration: none;
       padding: 10px 10px;
       display: block;
   }
   
   .nav li a:hover{
       background-color: #00cccc;
   }
   
   .nav > li{
       float: left;
   }
   
   .nav li ul{
       display: none;
       position: absolute;
       min-width: 200px;
   }
   
   .nav li:hover > ul{
       display: block;
   }
   
   a[id="cancelar"]{
       font: bold 25px Arial;
       text-decoration: none;
       color: #fff;
       background:#31384a;
       transition:background 2s,color 1s;  
   }
    div[id="ap"]{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
   }
   
   input[type="button"]{
       background: #31384a;
       color: #fff;
       padding: 10px;
   }
   input[type="button"]:hover{
       cursor: pointer;
       
   }
   
   div[id="ep"]{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
   }
   
   input[type="submit"]{
       background: #31384a;
       color: #fff;
       padding: 10px;
   }
   
    div[id="AM"]{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
   }
   
   div[id="el"]{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
   }
   
   div[id="au"]{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
   }
   
   div[id="eu"]{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
   }
   
   div[id="ac"]{
    width: 400px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
   }
   
   
   
   
   
   
   
       
